*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    margin: auto;
    background-color: rgb(240, 240, 250);
}

.container .header{
    background-image: url('https://www.glassdoor.co.uk/blog/app/uploads/sites/3/resume-makeover-1024x450.jpg');
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: none;
}

.container .header nav{
    background-color: rgb(0,0,0,0.8);
    justify-content: space-between;
	display: flex;
	position: sticky;
	top: 0;
	z-index: 99;
}

.container .header nav ul{
    display: flex;
    list-style: none;
    margin-right: 100px;
}

.container .header nav ul .nav_name{
    font-size: 20px;
    margin-left: 90px;
}

.container .header nav ul .home {
    background: #c70039;
}

.container .header nav ul li{
    padding: 15px;

}

.container .header nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color:rgb(81, 111, 207);
    font-weight: bold;
}

.container .header nav ul li a:hover{
	text-decoration: none;
	cursor: pointer;
} 

.container .header nav ul :hover{
    background-color:  #c70039;
    color: white;
    
}

h2:hover{
    text-decoration: underline;
}

.container .header .cover{
    margin-top: 30px;
    display: flex;
    width: 93%;
}
.container .header .cover .image{
    width: 30%;
    border-radius: 10px;
}

.container .header .cover .image img{
    width: 300px;
    border-radius: 5%;
    margin-left: 10px;
}

.container .header .cover .box_text{
    width: 70%;
    font-size: 20px;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    border-radius: 5px;
	line-height: 1.5;
    opacity: 0.9;
    color: white;
}

.container .header .cover .box_text .icon{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.container .header .cover .box_text .icon >a >i{
    padding: 10px;
    font-size: 40px;
    padding: 20px;
}

.container .header .cover .box_text .icon #instagram{
    color: #900c3f;
}
.container .header .cover .box_text .icon #facebook{
    color: #11698e;
}
.container .header .cover .box_text .icon #telegram{
    color: #1687a7;
}
.container .header .cover .box_text .icon #youtube{
    color: red;
}
.container h2{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.container .box-body{
    width: 80%;
    margin: auto;
    flex-direction: column;
}

.container .box-body .main-box{
    display: flex;
    width: 100%;
    justify-content: space-around;
    justify-items: center;
    margin-top: 5px;
}

.container .box-body .main-box .box{
    width: 49%;
    height: 270px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
}

.container .box-body .main-box .box h3{
    display: flex;
    justify-content: center;
    color:#c70039;
    text-transform: uppercase;
    margin-top: 10px;
}

.container .box-body .main-box .box h3:hover{
    text-decoration: underline;
}

.container .box-body .main-box .box .text{
    font-size: 15px;
    margin-left: 10px;

}

.container .box-body .main-box .box th{
    display: flex;
    justify-content: flex-start;
}
.container .box-body .main-box .box tr, th, td {
    padding: 10px;
}  

/* footer */
.company-details{ 
	overflow: hidden; 
	padding: 1em 0em; 
	background:  #282b28; 
    text-align: center; 
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.copyright p{
    text-align: center;
    background-color:#16c79a;
    padding: 10px;
}
.text_footer{
    display: flex;
}
.text_footer ul li{
    list-style: none;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.text_footer ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

#footer .company-details .row .col1 .icon{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#footer .company-details .row .col1 .icon >a >i{
    font-size: 40px;
    padding: 20px;
    color: #16c79a;
}