*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.home {
    background: red;
}
body {
    overflow-x: hidden;
}
.container{
    margin: auto;
    background-color: rgb(240, 240, 250);
}
nav {
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    margin-right: 100px;
}
nav ul li {
    padding: 15px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
nav h1 {
    color:#fff;
}
.container .header{
    background-image: url('https://www.glassdoor.co.uk/blog/app/uploads/sites/3/resume-makeover-1024x450.jpg');
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: none;
}

ul li:hover{
    background-color:  #c70039;
    color: white;
    cursor: pointer;
    
}

nav ul li a:hover{
	text-decoration: none;
	cursor: pointer;
} 

h2:hover{
    text-decoration: underline;
}

.container .header .cover{
    display: flex;
    width: 93%;
    margin-top: 5px;
}
.container .header .cover .image{
    width: 30%;
    border-radius: 10px;
}

.container .header .cover .image img{
    width: 300px;
    border-radius: 5%;
}

.container .header .cover .box_text{
    width: 70%;
    font-size: 20px;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    border-radius: 5px;
	line-height: 1.5;
    opacity: 0.9;
    color: white;
}

.container .header .cover .box_text .icon{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.container .header .cover .box_text .icon >a >i{
    padding: 10px;
    font-size: 40px;
    padding: 20px;
}

.container .header .cover .box_text .icon #instagram{
    color: #900c3f;
}
.container .header .cover .box_text .icon #facebook{
    color: #11698e;
}
.container .header .cover .box_text .icon #telegram{
    color: #1687a7;
}
.container .header .cover .box_text .icon #youtube{
    color: red;
}
.container h2{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.container .box-body{
    width: 80%;
    margin: auto;
}

.container .box-body .main-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;

}

.box{
    width: 100%;
    box-sizing: border-box;
    background-color: #5c5a5a4d;
    border-radius: 5px;
    padding: 10px;
}
table {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}



.container .box-body .main-box .box h3{
    display: flex;
    justify-content: center;
    color:#c70039;
    text-transform: uppercase;
    margin-top: 10px;
}

.container .box-body .main-box .box h3:hover{
    text-decoration: underline;
}

.container .box-body .main-box .box .text{
    font-size: 15px;
    margin-left: 10px;

}

.container .box-body .main-box .box th{
    display: flex;
    justify-content: flex-start;
}
.container .box-body .main-box .box tr, th, td {
    padding: 10px;
}  

/* footer */
.company-details{ 
	overflow: hidden; 
	padding: 1em 0em; 
	background:  #282b28; 
    text-align: center; 
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.copyright p{
    text-align: center;
    background-color:#16c79a;
    padding: 10px;
}
.text_footer{
    display: flex;
}
.text_footer ul li{
    list-style: none;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.text_footer ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

#footer .company-details .row .col1 .icon{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#footer .company-details .row .col1 .icon >a >i{
    font-size: 40px;
    padding: 20px;
    color: #16c79a;
}


@media(max-width:768px) {
    .cover{
        display: flex;
        flex-direction: column;
    }
    .image{
        margin: auto;
        margin-bottom: 20px;
    }
    .box_text{
        width: 90%;
        margin: auto;
    }

    nav {
        display: flex;
        flex-direction: column;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    nav ul {
        text-align: center;
    }
    nav h2 {
        text-align: center;
    }
    

}

