*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    margin: auto;
    background-color: rgb(240, 240, 250);
}

.container .header{
    background-image: url('https://www.glassdoor.co.uk/blog/app/uploads/sites/3/resume-makeover-1024x450.jpg');
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: none;
}

.container .header nav{
    background-color: rgb(0,0,0,0.8);
    justify-content: space-between;
	display: flex;
	position: sticky;
	top: 0;
	z-index: 99;
}

.container .header nav ul{
    display: flex;
    list-style: none;
    margin-right: 100px;
}

.container .header nav ul .nav_name{
    font-size: 20px;
    margin-left: 90px;
}

.container .header nav ul .home {
    background: #c70039;
}

.container .header nav ul li{
    padding: 15px;

}

.container .header nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color:rgb(81, 111, 207);
    font-weight: bold;
}

.container .header nav ul li a:hover{
	text-decoration: none;
	cursor: pointer;
} 

.container .header nav ul :hover{
    background-color:  #c70039;
    color: white;
    
}

.container .header .cover{
    margin-top: 30px;
    width: 93%;
    display: grid;
    grid-template-columns: 30% 70%;
}
.container .header .cover .main .image{
    border-radius: 50px;
}

.container .header .cover .main .image img{
    width: 300px;
    border-radius: 5%;
    margin-left: 10px;
}

.container .header .cover .box_text{
    font-size: 20px;
    padding: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
	line-height: 1.5;
    opacity: 0.9;
    color: white;
}

.container .header .cover .box_text .icon{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.container .header .cover .box_text .icon >a >i{
    padding: 10px;
    font-size: 40px;
    padding: 20px;
}

.container .header .cover .box_text .icon #instagram{
    color: #900c3f;
}
.container .header .cover .box_text .icon #facebook{
    color: #19456b;
}
.container .header .cover .box_text .icon #telegram{
    color: #1687a7;
}
.container .header .cover .box_text .icon #youtube{
    color: red;
}
.container h2{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: #0bb5f4;
}

.container .box-body{
    width: 80%;
    margin: auto;
    flex-direction: column;
}

.container .box-body .main-box{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 5px;
}

.container .box-body .main-box .box{
    width: 49%;
    height: 270px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
}

.container .box-body .main-box .box h3{
    display: flex;
    justify-content: center;
    color: rgb(194, 11, 11);
    text-transform: uppercase;
    margin-top: 10px;
}

.container .box-body .main-box .box .text{
    font-size: 15px;
    margin-left: 10px;

}

.container .box-body .main-box .box th{
    display: flex;
    justify-content: flex-start;
}
.container .box-body .main-box .box tr, th, td {
    padding: 10px;
}  

/* footer */
.company-details{ 
	overflow: hidden; 
	padding: 1em 0em; 
	background: #E3F0F7; 
    text-align: center; 
    display: flex;
    justify-content: center;
    margin-top: 10px;
} 
#footer #col1, 
#footer #col2, 
#footer #col3{ 
	float: left; 
	width: 320px; 
	padding: 0px 40px 0px 40px; 
} 
#footer #icon{ 
	display: block; 
	margin-bottom: 0.5em; 
	font-size: 3em; 
} 
.copyright 
{ 
	overflow: hidden; 
	padding: 2em 0em; 
	border-top: 20px solid rgba(250, 242, 242, 0.08); 
	text-align: center; 
	background: #282b28; 
} 
.copyright p { 
	letter-spacing: 1px; 
	font-size: 0.90em; 
	color: rgba(255, 255, 255, 0.6); 
} 



