*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 85%;
    margin: auto;
    background-color: rgb(240, 240, 250);
}
nav{
    display: flex;
    justify-content: center;
    position: sticky;
	top: 0;
	z-index: 99;
}
ul{
    display: flex;
    list-style: none;
    margin-left: 30%;
}
ul li{
    padding: 10px;
    margin-top: 10px;
}
ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color:rgb(97, 88, 88);
    font-weight: bold;
}
ul li a:hover{
	text-decoration: underline;
	cursor: pointer;
} 
ul :hover{
    background-color: rgb(32, 31, 31);
    color: blue;
}
.About_ME{
    margin-top: 30px;
    width: 93%;
    display: grid;
    grid-template-columns: 30% 70%;
}
.image{
    border-radius: 50px;
}
.all_text{
    margin-left: -60px;
    padding: 10px;
}
img{
    width: 230px;
    border-radius: 5%;
}
.main{
    width: 90%;
    display: grid;
    grid-template-columns: 30% 55%;
}
.text_resume{
    padding: 20px;
    color: blue;
    font-size: 20px;
}

